<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="org.testComponents.Listeners"></listener>
    </listeners>
    <test thread-count="5" name="SubmitOrderTest">
        <classes>
            <class name="org.tests.PurchaseProductTest"/>
        </classes>
    </test>
    <test thread-count="5" name="CatalogueFiltersTest">
        <classes>
            <class name="org.tests.CatalogueFiltersTest"/>
        </classes>
    </test>
    <test thread-count="5" name="ErrorValidationTest">
        <classes>
            <class name="org.tests.ErrorValidationTest"/>
        </classes>
    </test>
    <test thread-count="5" name="SocialsTest">
        <classes>
            <class name="org.tests.SocialsTest"/>
        </classes>
    </test>
    <test thread-count="5" name="LogOut1">
        <classes>
            <class name="org.tests.LogOutUsersTest"/>
        </classes>
    </test>
    <test thread-count="5" name="LogOut">
        <classes>
            <class name="org.tests.RemoveProductTest"/>
        </classes>
    </test>
    <test thread-count="5" name="AboutRedirection">
        <classes>
            <class name="org.tests.AboutRedirectionTest"/>
        </classes>
    </test>
    <test thread-count="5" name="ResetApp">
        <classes>
            <class name="org.tests.ResetAppStateTest"/>
        </classes>
    </test>
    <test thread-count="5" name="Images">
        <classes>
            <class name="org.tests.BrokenImagesTest"/>
        </classes>
    </test>
</suite>